body {
  background-repeat: no-repeat;
  background-position: center center; 
  background-attachment: fixed;
  background-size: 100% 100%;
}

div {
  margin-top: 10px;
}

.well {
  border-radius: 20px;
  background-color: #ebe6f4;
}

button {
  border-style: solid;
}